@import "node_modules/bootswatch/paper/_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootswatch/paper/_bootswatch";
@import "node_modules/font-awesome/scss/font-awesome";
@import "nprogress";
@import "scroll-row";
@font-face {
    font-family: Ubuntu;
    src: url('../fonts/ubuntu-light.woff');
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 50vh;
}
nav.navbar {
    margin-bottom: 0px;
}
 .content {
    font-size: 1.25em;
    .original-font-size {
        font-size: 0.8em; 
    }
}
.nowrap {
    white-space: nowrap;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.row-left-title {
    background:#2196f3;
    box-shadow: 3px 0px 2px rgba(0,0,0,0.3);
    h2 {
        color: #f9f9f9;
        text-align: center;
        margin-bottom: 23px;
    }
}
.experience {
    height: 470px;
}
.lang-list {
    margin:26px 50px;
    overflow: auto;
    position: relative;
    a {
        font-size: 1.3em;
    }
}
.hidden-input {
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    z-index: -11;
}